.convocation-answer {
  margin: 30px;
  // width: 300px;
}

#convocation-answer {
  margin-top: 190px;

}

.mymodal {
  background-color: rgb(229, 226, 224);
  width: 500px;
}

#contact_content{
  height: 200px;
}
