<div class="banner">
  <div class="container padded">
      <div class="col-md-6 bigmarge">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>DISPONIBILITES DE <%= @subscription.user.full_name %></h1>
           En semaine : <%= @subscription.disponibility.week %> <br>
           Le samedi : <%= @subscription.disponibility.saturday %> <br>
           Le dimanche : <%= @subscription.disponibility.sunday %> <br>

          </div>
         </div>
       </div>
    </div>
  </div>