div class="container"
  div class="row user_profile"
    div role="tabpanel"
      ul class="nav nav-tabs" role="tablist"
        li role="presentation" class="active"
          a href="#profil" aria-controls="profil" role="tab" data-toggle="tab"
            strong Profil
        li role="presentation"
          a href="#compte" aria-controls="compte" role="tab" data-toggle="tab"
            strong Compte

      div class="tab-content"
        div role="tabpanel" class="tab-pane active" id="profil"
          = render 'users/edit/player_infos'

        div role="tabpanel" class="tab-pane" id="compte"
          div class="panel panel-default"
            div class="panel-heading"
              p Vos informations de contact
            = link_to 'Éditer mon compte', edit_user_registration_path, class: 'btn btn-warning'
