<a href="#" data-target="#certifpicture" data-toggle="modal"><%= image_tag @user.certifmedpicture.url(:medium) %></a>


<div class="modal fade" id="certifpicture">
    <div class="modal-dialog mymodal">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h4 class="modal-title">Votre Certificat médical</h4>
        </div>
        <div class="modal-body">
          <%= image_tag @user.certifmedpicture.url(:original) %>
        </div>
        <div class="modal-footer">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
