<div class="btn btn-warning margin">Scanner votre licence !</div>
<p> Scanner votre licence vous permettra de l'avoir toujours sur vous en allant sur Tennis Match... Plus de problèmes d'oubli de licence en tournoi !</p>