div class="panel panel-default"
  div class="panel-heading"
    p Uploader votre certificat médical et vous n'aurez plus peur de l'oublier le jour de votre match !
= link_to 'Uploader votre certificat médical',edit_user_path, class: 'btn btn-warning'
