div class="panel panel-default"
  div class="panel-heading"
    p Uploader votre licence vous permettra de l'avoir toujours sur vous en allant sur Tennis Match… Plus de problèmes d'oubli de   licence en tournoi !
= link_to 'Uploader votre licence',edit_user_path, class: 'btn btn-warning'
