<%=link_to "Scanner votre Certificat Médical",edit_user_path, class: "btn btn-warning margin"%>
<p><strong> Scanner votre certificat médical et vous n'aurez plus peur de l'oublier le jour de votre match!</strong></p>