<%=link_to "Uploader votre Certificat Médical",edit_user_path, class: "btn btn-warning margin"%>
<p><strong> Uploader votre certificat médical et vous n'aurez plus peur de l'oublier le jour de votre match!</strong></p>