<h1><%= @tournament.name.upcase%> a été validé par l'équipe Tennis Match</h1>

<p>
  <%= @tournament.name.upcase %> a été validé par notre équipe. Le tournoi pourra maintenant etre trouvé par les joueurs qui utiliseront notre site et ils pourront s'inscrire en ligne. Vous pourrez gérer toutes vos convocations en ligne ! <br>

  @ bientot sur les courts ! <br>

  L'équipe WeTennis <br>
</p>
