
<h1><%= @tournament.name.upcase%> a été validé par l'équipe WeTennis</h1>

<p>
  <%= @tournament.name.upcase %> a été validé par notre équipe. <%= @tournament.name.upcase%> pourra maintenant être trouvé par les licenciés et ils pourront s'inscrire en ligne à la compétition. Vous pourrez gérer toutes vos convocations en ligne ! </p>

