<li class="list-group-item notification">
  <i class="fa fa-plus"></i>
   <small class="text-muted">
  Vous avez reçu une convocation de <%= link_to a.trackable.subscription.tournament.name, user_path(@current_user) %>
</li>