<li class="list-group-item notification">
  <span class="glyphicon glyphicon-plus"></span>
   <small class="text-muted">
  Vous etes convoqué à <%= link_to a.trackable.subscription.tournament.name, user_path(@current_user)  %>
</li>