#licence_picture {
 margin-top: 50px;
 margin-left: 200px;
}

.upload-file-container {
   background: image-url('img-upload.jpg') no-repeat;
  height: 40px;
}

.upload-file-container input {
   filter: alpha(opacity=0);
   opacity: 0;
   float: left;
}

#fileName1 {
  float: right;
  margin-right: 500px;
  margin-top: -20px;
  color: green;
}


#fileName2 {
  float: right;
  margin-right: 500px;
  margin-top: -20px;
  color: green;
}


#fileName3 {
  float: right;
  margin-right: 500px;
  margin-top: -20px;
  color: green;
}

#fileName4 {
  float: right;
  margin-right: 500px;
  margin-top: -20px;
  color: green;
}