#licence_picture {
 margin-top: 50px;
 margin-left: 200px;
}

.upload-file-container {
   background: image-url('img-upload.jpg') no-repeat;
  height: 40px;
}

.upload-file-container input {
   filter: alpha(opacity=0);
   opacity: 0;
   float: left;
}

#fileName1 {
  float: left;
  margin-left: 40px;
  color: green;
  margin-top: 5px;
}


#fileName2 {
  float: left;
  margin-left: 40px;
  color: green;
  margin-top: 5px;
}


#fileName3 {
  float: left;
  margin-left: 40px;
  color: green;
  margin-top: 5px;
}

#fileName4 {
  float: left;
  margin-left: 40px;
  color: green;
  margin-top: 5px;
}

@media screen and (max-width: 988px) {
  #fileName1 {
    float: left;
    margin-left: 40px;
    color: green;
    margin-top: -20px;
}


#fileName2 {
  float: left;
  margin-left: 40px;
  color: green;
  margin-top: -20px;
}


#fileName3 {
  float: left;
  margin-left: 40px;
  color: green;
  margin-top: -20px;
}

}


#myFileInput1 {
  cursor: pointer;
}
#myFileInput2 {
  cursor: pointer;
}
#myFileInput3 {
  cursor: pointer;
}