<h1>Tennis-Match</h1>

<p>Bonjour <%= @user.name %>,

Vous venez de créer un compte sur Tennis-Match.fr. Merci pour votre confiance. Vous pouvez commencer votre naviguation sur le site en éditant votre profile.
Il est nécessaire de remplir votre profil pour pouvoir vous inscrire à un tournoi.
Pour le moment seul quelques tournois sont référencés mais beaucoup d'autres arriveront dans peu de temps.

@ très vite sur les courts de tennis !

L'équipe Tennis Match!</p>
