 <div style="text-align:center">
  <%= image_tag 'logo_black.png', alt: 'Tournois de tennis' %>

  <h1>Bienvenue sur wetennis.fr</h1>
</div>

<div>
  <p>Bonjour <strong><%= @user.name %></strong> !</p>

  <p>
    Vous venez de créer un compte sur <strong>wetennis.fr</strong>. <br> Nous vous remercions pour votre confiance. <br> Vous pouvez commencer votre naviguation sur le site en éditant votre profil.
  </p>

<div style="text-align:center">
  <%= link_to 'Personnaliser mon profil', 'http://wetennis.fr' %>
</div>

<div>
  <p><strong>Il est nécessaire de remplir votre profil pour pouvoir vous inscrire à un tournoi.</strong></p><br>
    <p> @ bientôt sur les courts !</p>
    <p>L’équipe WeTennis</p>
</div>
