 <div style="text-align:center"><%= image_tag "logo_black.png"%>

      <h1>Bienvenu sur wetennis.fr</h1>

      <p>Bonjour <strong><%= @user.name %></strong> !<br>

      Vous venez de créer un compte sur <strong>wetennis.fr</strong>. <br> Nous vous remercions pour votre confiance. <br> Vous pouvez commencer votre naviguation sur le site en éditant votre profil.<br>
      <strong>Il est nécessaire de remplir votre profil pour pouvoir vous inscrire à un tournoi.</strong>
      Pour le moment seul quelques tournois sont référencés mais beaucoup d'autres arriveront dans peu de temps ! </p><br>
      <p> @ bientôt sur les courts !</p>
      <p>L'équipe WeTennis</p>
</div>