<h1>Bienvenu sur wetennis.fr</h1>

<p>Bonjour <strong><%= @user.name %></strong> !<br>

Vous venez de créer un compte sur wetennis.fr. <br> Nous vous remercions pour votre confiance. <br> Vous pouvez commencer votre naviguation sur le site en éditant votre profile. <br>
Il est nécessaire de remplir votre profil pour pouvoir vous inscrire à un tournoi.
Pour le moment seul quelques tournois sont référencés mais beaucoup d'autres arriveront dans peu de temps. <br>

@ très vite sur les courts de tennis ! <br> <br>

L'équipe WeTennis</p>
