<div style="text-align:center"><%= image_tag "logo_black.png"%>
    <h1>Bienvenue sur wetennis.fr</h1>
    <p>Bonjour <strong><%= @user.name %></strong> !<br>
    Vous venez de créer un compte Juge-Arbitre sur wetennis.fr. <br> Nous vous remercions pour votre confiance. <br> Vous pouvez commencer votre naviguation sur le site en éditant votre profil. <br>
    Il est nécessaire de remplir votre profil intégralement pour pouvoir créer un tournoi sur le site. Votre profil devra également être validé par notre équipe afin de nous assurer que vous êtes habilité à organiser un tournoi de tennis officiel.
    </p>
</div>

