.homepage {
  display: flex;
  height: 90vh;
  align-items: center;

  .is-connected {
    margin: auto;
    text-align: center;
  }
  label {
    float: left;
  }
}

.banner,
.main,
.banner-tournament {
  background-image: image-url('background.jpg');
  background-size: cover;
  min-height: 700px;

}
