.banner {
  background-image: image-url('background.jpg');
  background-size: cover;
  height: 500px;
  margin-top: -25px;
}


.search {
  padding: 100px 20px;
}


#alert {
  position: absolute;
  margin-left: -40px;
}

.algolia-test {
  padding-left: 300px;
  height: 300px;
  width: 100%;
}

