// #mainpage {
//   margin-top: 200px
// }
.btn-resend {
  margin-top: 30px;
}
.margetop{
  margin-top: 30px;
}

.confirmation_instruction {
margin-top: 200px;
margin-bottom: 40px;
}

#pad{
    padding: 17px;
}
#about {
  height: 450px;
  padding-top: 115px;
}

#services{
  padding-top: 70px;

}
html,
body {
    height: 100%;
    width: 100%;
}

#inscr{
  font-size: 1.5em;
}
body {
    // .serif-font;
}

.bg-green {
  background-color: rgb(159, 183, 156);
  opacity: 0.8;
}
hr {
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    &:hover,
    &:focus {
        color: black;
    }
}
.background-cover{
      background-position: center;
      background-image: image-url("background.jpg");
      background-size: cover;
      text-align: center;
      color: white;
      min-height: 660px;
    }

header {
    position: relative;
    width: 100%;
    min-height: auto;


    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
          margin-top: 100px;
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: fade(white, 70%);
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
}

 @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

#avectm {
  margin-top: 5Opx;
}

// Sections

.section-heading {
    margin-top: 0;
}


.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px 15px 0;
    }
    p {
        margin-bottom: 0;
    }
}


.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        // background: fade(@theme-primary, 90%);
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        // .transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                // .sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}


.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles




.btn {

    border: none;
    // border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: #000032;
    text-shadow: none;
    // background: @theme-dark;
}

::selection {
    color: #000032;
    text-shadow: none;
    background: #98EEFF;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    // webkit-tap-highlight-color: @theme-dark;
}
