@media screen and (max-width: 768px) {
  .user-picture {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -62.5px;
  right: -10px;
}
}

.user-picture {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -62.5px;
  right: -62.5px;
}

#li {
  background: grey;
}

#modif-prof {
  margin-top: 20px;
}

.result-item {
  background-color: grey;
  width: 700px;
  padding: 10px;
  border-bottom: 1px solid #ededed;
  color: black !important;
  max-height: 600px;
  overflow:scroll;

}


.margin-left-50 {
  margin-left: -400px;
}

.tt-suggestion .result-item a h5,
.tt-suggestion .result-item a p
 {
  color: rgba(50, 50, 50, 1) !important;
}

.tt-dropdown-menu {
  overflow: scroll;
  height: 200px;
  color: black !important;

}

a.link-neutral {
  color: rgb(51, 51, 51);

}

a.link-neutral:hover {
  color:  rgb(32, 48, 219);
}

.tab-title.active {
  background-color: rgba(255, 255, 255, 0.4);
}

.tab-title {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a {
  background-color: rgba(255, 255, 255, 0.4);
}

.tt-dropdown-menu > .result-item > div > h5 {
  color: black !important;
}
.tt-dropdown-menu > .result-item > div > p {
  color: black !important;
}



#profile {
  text-align: -webkit-left;
}

.card {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  min-height: 330px !important;
}

.margin_edit_account {
  margin-top : 80px;
  margin-left: 80px;
}

