<div class="banner">
      <p> Désolé mais <%= @tournament.name %> n'a pas encore été validé par l'équipe de tennis match. Vous recevrez un email d'information dans les plus brefs délais ! </p>
</div>