<div class="banner">
  <div class="container text-center padded">
   <div class="col-md-6 col-md-offset-3">
     <div class="panel panel-default not-accepted">
       <div class="panel-heading">
        <h3>Merci pour l'ajout de votre tournoi !</h3>
        <div class="panel-body">
         <%= @tournament.name %> n'a pas encore été validé par l'équipe de tennis match. Vous recevrez un email d'information dans les plus brefs délais !
        </div>
       </div>
     </div>
   </div>
  </div>
</div>

