 <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-offset-md-4">
        <h1 id="searching-tournament"> Vous cherchez un tournoi ?</h1>
        <form class="form-horizontal" id="algolia-bar">
          <div class="form-group">
            <input name="Tournament" placeholder="Cherchez un tournoi par nom, ville, addresse, dates..." id="tournament"/>
          </div>
        </form>
      </div>
    </div>
  </div>

