<div class="container text-center padded">
      <h1 id="punchline">Inscrivez-vous à vos tournois en un clic</h1>
      <p>Bye bye les enveloppes et autres chèques pour s'inscrire</p>
      <%= link_to "s'inscrire", new_user_registration_path, class:"btn btn-default" %>
</div>