<div class="container text-center padded">
  <div class="row">
    <div class="card">
      <h3>Inscrivez-vous à vos tournois en un clic</h3>
      <p>Bye bye les enveloppes et autres chèques pour s'inscrire</p>
      <%= link_to "s'inscrire", new_user_registration_path, class:"btn btn-default" %>
    </div>
  </div>
</div>