div class="container"
  div class="row"
    div class="col-xs-12"
      h1 class="emperor" Recherche de Joueurs pour Défis

      = form_tag users_path, method: "get", :remote => true do ||
        div class="form-group"
          = label_tag :content, "recherche"
          = text_field_tag :content, nil, placeholder: "Rechercher des joueurs pour défis", class: "form-control"
          = button_tag(type: "submit") do
            i class="fa fa-search"

