<div class="banner padded">
  <h1>Félicitation ! Votre Paiement pour <%=@tournament.name%> a bien été pris en compte. Vous recevrez un mail de confirmation si votre inscription est validé par le juge arbitre.
  S'il est impossible de vous intégrez au tableau, votre paiement vous sera remboursé intégralement.
  </h1>
  <p>L'équipe Tennis Match</p>
</div>