<div id="footer" class="bg-black">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <i class="fa fa-facebook-square icones"></i>
        <i class="fa fa-twitter-square icones"></i>
        <i class="fa fa-linkedin-square icones"></i>
      </div>
      <div class="col-xs-6">
        <div id="à_propos" class="text-right">
          <h5>A propos de Tennis Match</h5>
        </div>
      </div>
    </div>
  </div>
</div>