<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contactez nous!</h2>
                    <hr class="primary">
                    <p>Vous voulez nous aider à améliorer le site ? Nous faire une suggestion ? ou tout simplement parler tennis autour d'un café ? N'hésitez pas à nous contacter !</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>06 66 02 74 14</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href=<%=new_contact_path%>>contact@wetennis.fr</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <p><%=link_to 'CGU', page_path('cgu')%></p>
                </div>
            </div>
        </div>
    </section>



