= content_for(:title) do ||
  'CGV

div class="container"
  div class="row"
    div class="col-md-10 col-md-offset-1"

      markdown:
        # Conditions Générales de Vente WeTennis

        Les présentes conditions de vente sont conclues d’une part par la société WeTennis, SAS en cours de formation ci-après dénommée « WeTennis » représentée par David GEISMAR et d’autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site Internet de « WeTennis » dénommée ci-après « le Client ».

        ## 1. Objet du contrat

        Les présentes conditions générales de vente ont pour objet de fixer les dispositions contractuelles entre WeTennis et le Client  et les conditions applicables à tout achat effectué par le biais du site marchand WeTennis. L’acquisition d’un bien ou d’un service à travers le présent site implique une acceptation sans réserve par le client  des présentes conditions de vente.

        ## 2. Caractéristiques des services proposés à la vente par WeTennis

        WeTennis permet à ses clients l’inscription en ligne aux tournois de tennis. Les tournois sont ceux qui figurent sur le site internet WeTennis. Chaque tournoi est accompagné d’un descriptif précisant la catégorie, le lieu, les dates du tournoi…

        WeTennis fait tout son possible pour assurer l’exactitude des informations fournies mais ne peut en aucun cas être tenu d’une obligation de résultat quant à l’exactitude des informations visibles par le client sur le site WeTennis.

        ## 3. Tarifs

        Le prix indiqué sur le site WeTennis sont des prix TTC en euros tenant compte de la TVA applicable au jour de la commande ainsi que de la commission prélevée par WeTennis; tout changement du taux pourra être répercuté sur le prix des inscriptions aux tournois. WeTennis se réserve le droit de modifier ses prix à tout moment, étant entendu que le prix figurant sur WeTennis le jour de la commande sera le seul applicable au Client. Les prix indiqués comprennent les frais  de traitement de commandes, de transport et d’expédition.

        ## 5. Commandes

        Le client passe commande sur le site Internet « www.wetennis.fr ». Pour acheter un ou plusieurs articles, il doit obligatoirement suivre le processus de commande suivant :

        - Identification sur le site Internet
        - Remplissage exhaustif de ses informations sur son "Profil utilisateur"
        - Choix du tournoi auquel le client souhaite s’inscrire
        - Acceptation des CGV
        - Validation du paiement

        Le client recevra un e-mail de confirmation de commande.

        WeTennis se réserve la possibilité d’annuler l’inscription  jusqu’au règlement complet de la commande, c’est-à-dire à l’encaissement de la commission de WeTennis sur le prix de la commande par WeTennis. <br>

        WeTennis se réserve le droit d’annuler ou de refuser toute commande qui émanerait d’un Client avec lequel il existerait un litige relatif au paiement d’une commande précédente. Toute commande vaut acceptation des prix et descriptions des tournois ouverts aux inscriptions.

        WeTennis s’engage à honorer les commandes reçues sur le site Internet seulement dans la limite des places disponibles dans les tournois.

        ## 6. Modalités de paiement

        Le règlement des achats s’effectue par carte bancaire.
