= content_for(:title) do
  'Aide

= content_for(:description) do
  'Aide & FAQ de WeTennis est la première plate-forme pour gérer les match de tennis

div class="container"
  div class="row"
    div class="col-md-10 col-md-offset-1"
      markdown:
        # FAQ

        Bienvenue dans l’aide de WeTennis.
        C’est ici que vous trouverez les réponses à toutes vos questions.

        ## Première visite

        Sur WeTennis il y a 2 types de profils : __Joueur__ et __Juge-Arbitre__.


      div class="row"
        div class="col-md-6"
          = image_tag 'static/tennis-player.jpg', alt: 'Joueurs de tennis inscrits à l’application de gestion de match', class: 'img-responsive'
          h3
            'David (1/6) & Julien (-15)
            small joueurs de tennis
          markdown:
            Grâce à WeTennis ils peuvent enfin __s'inscrire aux tournois de tennis__ en un clic. WeTennis leur permet également de __gérer leurs convocations__ aux différents tournois et d'envoyer un message au juge arbitre en cas d'indisponibilité.

        div class="col-md-6"
          = image_tag 'static/tennis-judge.jpg', alt: 'Juge arbitre organise ses match', class: 'img-responsive'
          h3
            'Olivier
            small juge arbitre
          markdown:
            Olivier est très occupé, il cherche un moyen d’__organiser facilement ses tournois__ de tennis.
            Avec WeTennis, ses ennuis sont terminés ! Il peut gérer toutes ses inscriptions, ses paiements et ses remboursements.


      markdown:
        ## Paiement

        - Sur WeTennis tout se passe en ligne ! Vous renseignez vos informations bancaires au moment du paiement des frais d'inscription puis la demande d'inscription est automatiquement envoyée au juge-arbitre du tournoi. Tant que le juge-arbitre de la compétition n'a pas accepté ou refusé votre inscription, vous êtes sur liste d'attente. Si le juge-arbitre ne peut finalement pas vous inclure dans le tableau et que vous êtes refusé, vos frais d'inscription vous sont remboursés.


= render 'shared/footer'
