
<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="banner">
  <% if current_user == @user %>
    <%= render 'pages/home/connected' %>
  <% else %>
  <% end %>
</div>
