<div class="tournoi">
 <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="searching-tournament"> Vous cherchez un tournoi ?</h1>
        <form class="form-horizontal" id="algolia-bar">
          <div class="form-group">
            <input name="Tournament" type="text"  id="q" autocomplete="off" spellcheck="false" autocorrect="false" class="form-control input-lg string" placeholder="Cherchez un tournoi par nom, ville, addresse, dates..." id="tournament"/>
          </div>
        </form>
        <div class="container">
  <div class="row">

    <!-- Left Column -->
    <div class="col-md-3 col-md-offset-1 col-xs-12 hidden-sm hidden-xs">
      <div class="main_caption">
      </div>
      <!-- Facets -->
      <div id="facets" class="hidden-sm hidden-xs"></div>
    </div>
    <!-- /Left Column -->

    <!-- Right Column -->
    <div class="col-md-7 col-xs-12">

      <!-- Stats + sort order menu -->
      <div class="page-header">
        <div class="pull-right sort-orders">
          <span id="sort-by" class="text-muted">Sort by:</span>
          <div class="btn-group">
            <button id="sort-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="sort-by">Relevance</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="sortBy" data-index-suffix="">Relevance</a></li>
              <li><a href="#" class="sortBy" data-index-suffix="_price_asc">Lowest Price</a></li>
              <li><a href="#" class="sortBy" data-index-suffix="_price_desc">Highest Price</a></li>
            </ul>
          </div>
        </div>
        <span id="stats"></span>
        <div style="clear:both;"></div>
      </div>
      <!-- /Stats + sort order menu -->

      <!-- Hits -->
      <div id="hits"></div>
      <!-- /Hits -->

      <!-- Pagination -->
      <div id="pagination"></div>
      <!-- /Pagination -->

      <!-- /Right Column -->
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>

