
<div class="tournoi">
 <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="searching-tournament"> Vous cherchez un tournoi ?</h1>
        <form class="form-horizontal" id="algolia-bar">
          <div class="form-group">
            <input name="Tournament" type="text"  id="q" autocomplete="off" spellcheck="false" autocorrect="false" class="form-control input-lg string" placeholder="Cherchez un tournoi par nom, ville, addresse, dates..." id="tournament"/>
          </div>
        </form>
  </div>
</div>

