<div class="banner bigmarge">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class= "panel-heading">
            <h4> Il n'y a pas encore de tournoi référencé sur WeTennis</h4>
          </div>
          <div class= "panel-body">
             Tenez–vous prêts pour le jour J !
             <br>
            <%= link_to 'Personnaliser mon profil', user_path(current_user), class: 'btn btn-success global'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

