  <div class="banner">
    <div class="container text-center">
      <div class= "row tournamentcard bigmarge">
        <div class= "col-xs-12">
          <h1> Il n'y a pas encore de tournois référencés sur WeTennis</h1>
          <p>Vous pouvez d'ors et déjà<%= link_to " référencer votre tournoi !",  new_tournament_path(current_user)%></p>
        </div>
      </div>
    </div>
  </div>