<div class="container text-center">
    <h1 id="punchline">Inscrivez-vous à vos tournois de tennis en un clic</h1>
    <p>S'inscrire aux tournois n'a jamais été aussi facile avec tennis match</p>
    <%= link_to "S'INSCRIRE", new_user_registration_path, class:"btn btn-success", id: "bouton-inscription" %>

</div>