 <h4 class="btn btn-success" data-toggle="modal" data-target="#search_tournament">
               Chercher des tournois !
              </h4>
              <!-- Modal -->
                <div class="modal fade" id="search_tournament" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Rechercher des tournois</h4>
                      </div>
                      <div class="modal-body">
                        <strong>Votre profil n'est pas encore entièrement rempli !</strong>
                        <br>
                        Vous devez remplir intégralement votre profil pour pouvoir vous inscrire à des tournois. Etes vous sur de vouloir commencer votre recherche ?
                        <%= link_to image_tag('logo.png', class: 'logo_btn') + "Chercher des tournois !", tournaments_path, class:"btn btn-success modifier-profil", id: "modif-prof"  %>
                        <%= link_to "Remplir mon profil avant", edit_user_path, class:"btn btn-warning modifier-profil", id: "modif-prof"  %>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>