#formulaire-tournoi{
height: 40px;
margin-top: -5px;
padding-top: 30px;
padding-bottom: 50px;
}

.not-accepted {
  margin-top: 100px;
}

.hidden {
visibility: hidden;
}

.ajouter_my_tournaments {
  margin-left: -100px;
  margin-bottom: -60px;
}