development:
  AWS_ACCESS_KEY_ID: ""
  AWS_S3_BUCKET_NAME: ""
  AWS_SECRET_ACCESS_KEY: ""
  FB_ID: ""
  FB_SECRET: ""
  MANGOPAY_CLIENT_ID: ""
  MANGOPAY_CLIENT_PASSPHRASE: ""
  MANGOPAY_PRODUCTION: false
  TRELLO_MEMBER_TOKEN: ""
  TRELLO_PUBLIC_KEY: ""
  TWILIO_FROM: ""
  TWILIO_SID: ""
  TWILIO_TOKEN: ""

production:
  # MANDRILL_APIKEY: ""   # set by heroku
  # MANDRILL_USERNAME: "" # set by heroku
  AWS_ACCESS_KEY_ID: ""
  AWS_S3_BUCKET_NAME: ""
  AWS_SECRET_ACCESS_KEY: ""
  FB_ID: ""
  FB_SECRET: ""
  HOST: ""
  MANGOPAY_CLIENT_ID: ""
  MANGOPAY_CLIENT_PASSPHRASE: ""
  MANGOPAY_PRODUCTION: true
  TWILIO_FROM: ""
  TWILIO_SID: ""
  TWILIO_TOKEN: ""
