#tournament-name {
  margin: 50px;
  margin-bottom: 100px;
}

#convocation-submit {
  margin-top: 55px;
  margin-left: 120px;
}

.checkbox {
  margin-top: 0px;
}

#checkbox-player {
  margin: 0px;
}

