#tournament-name {
  margin: 50px;
  margin-bottom: 100px;
}


#convocation-submit {
  margin-top: 55px;
  margin-left: 120px;
}

.checkbox {
  margin-top: 0px;
}

.checkbox-player {
  margin-left: 20px !important;
}

.table_judge_tournoi {
  margin-top:30px;
  margin-left: -30px;
}

.fleche_subscription {
  margin-left: 40px;
}

.adding_manually {
  min-height: 900px;
}

#licenciefft {
  width: 800px;
  height: 50px;
  background-color: white
}
#popup_subscription_index {
  background-color: white;
  width : 250px;

}

.fa-check-circle {
  color: green;
}

.fa-times {
  color: red;
}

