<h1>Bonjour <%= @convocation.subscription.user.name %></h1>

<p>
  Vous êtes convoqué au tournoi <%= @convocation.subscription.tournament.name.upcase%> pour le <%= @convocation.date.strftime("%d/%m/%Y") %> à <%= @convocation.hour.strftime("%Hh%M") %>.

  Merci de vous connectez au plus vite sur tennis-match.com afin de répondre à cette convocation.
</p>
