/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

#main {
  min-height: 570px;
}


.notification {

  width: 400px;
  a {
    color: black;
  }
  a:hover {
    color: blue;
  }
}

html, body {
  height: 100%;
}

th {
  white-space: nowrap;
}