/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

#main {
  min-height: 475px;
}

.fa {
  font-size: 1em;
}
.notification {
  background-color: rgb(159, 183, 156);
  width: 400px;
}

html, body {
  height: 100%;
}