.notification {
  width: 400px;
  a {
    color: black;
    &:hover {
      color: blue;
    }
  }
}

.mt-0 {
  margin-top: 0;
}

html, body {
  height: 100%;
}
body {
  padding-top: 70px;
}

th {
  white-space: nowrap;
}

