/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: rgba(255, 255, 255, .85);
//   $navbar-hover-color: white;
$navbar-font-family: $navbar-font;
$navbar-font-size: 14px;
$navbar-text-transform: capitalize;
$navbar-font-weight: 300;
$navbar-letter-spacing: 1.5px;
$navbar-font-family: $navbar-font;
$navbar-bg: $yellow;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 50px;
$navbar-vertical-padding: 10px;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 0px;
// $navbar-border-bottom-color: $gray-lighter;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
//$navbar-btn-bg: lightgrey;
//$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 1px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */
  // .adjustbtnnavbar {
  //   margin-top: -1px;
  // }

  .adjust {
    margin-top: -15px
  }
 .notif {
  position: relative;
  top: 14px;
 }
 .notifstyling{
  border-bottom: solid 1px;
  margin-left: 0px !important;
  background-color: rgb(246, 247, 248);
 }

 #notimenu {
  margin-top: 17px;
  min-width: 400px
 }
 .noti_bubble {
    z-index: 1;
    position:absolute;    /* This breaks the div from the normal HTML document. */
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:1.3em;

    margin-left: 130px;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}


 .userpic {
  margin-top: -10px;
 }

 #card_number {
  margin-bottom: 10px;
 }
 #card_cvx {
  margin-bottom: 10px;
 }
 .navbar-collapse {
  margin:auto;
  padding-top: 1em;

  // z-index: 300;
 }

@media (max-width: 750px) {
  .navbar-collapse {
    margin-top: -9px;
    background-color: rgb(159, 183, 156);
  }
  .inscriptionTM{
    margin-bottom: 5px;
  }

  .adjust {
    text-align: center;
  }
  .dropdown {
    text-align : center;
  }

  #dropdownMenu1 {
    // text-align: center;
    margin-bottom: 30px
  }
  #tournamentbtn {
    text-align: center;
    margin-bottom: 30px
  }
}
 .navbar li {
  margin-left: 45px;
 }
.navbar-right {
  width:500px;
}
.badge {
  position: relative;
  bottom: 60px;
  background-color: white;
  color: black;
  border-radius: 50%
}
.navbar-wagon {
  height: 70px;
  background: $navbar-bg;
  font-family: $navbar-font-family;
  border: none;
  font-size: $navbar-font-size;
  text-transform: $navbar-text-transform;
  font-weight: $navbar-font-weight;
  letter-spacing: $navbar-letter-spacing;
  padding-left: $navbar-horizontal-padding;
  padding-right: $navbar-horizontal-padding;
  border-bottom: 1px solid #8BA388;
  min-height: 0;
  transition: background 0.4s ease;
  margin-bottom: 0px;


  .dropdown-menu > li  {

  }

  .navbar-nav > li > a,
  .navbar-nav > .open > a,
  .navbar-nav > li > a:focus,
  .navbar-nav > .open > a:focus {
    outline: none;
    line-height: $navbar-height;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
    color: white;

  }

  .notifcontent {
    color: black;
    &:hover {
      color: blue;
    }
  }


  .navbar-brand,
  .navbar-brand:hover {
    outline: none;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
  }

  .navbar-nav > li > a.btn {
    line-height: $navbar-btn-height;
    padding: 0 $navbar-btn-horizontal-padding;
    border-radius: $navbar-btn-radius;
    font-weight: bold;
    font-size: 12px;
    &:hover{
       background-color: rgb(50, 183, 150) ;

    }
  }

  .navbar-brand img, .navbar-brand svg {
    height: $navbar-height;
    padding: 0px;
    opacity: .85;

    &:hover {
         opacity: 1;
    }
  }

  .img-avatar{
    height: 45px;
    width: 45px;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    background-position: center center;
  }


  .navbar-toggle {
    //  border-color: #dddddd;
    width: 45px;
    // background: transparent;
  }

  .navbar-nav > li > .dropdown-menu{
    border-radius: 0;
    //background: #C7B9AB;
  }

  .navbar-nav > li > .dropdown-menu:before{
    position: absolute;
    //  background: rgb(199, 185, 174);
    height: 10px;
    width: 10px;
    content: "\00a0";
    display: block;
    left: 88%;
    margin-left: -5px;
    top: -5px;
    transform: rotate(45deg);
    border-top: 1px solid #A89C93;
    border-left: 1px solid #A89C93;
    z-index: -1;
  }
}

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */

@media screen and (max-width: 768px) {
  .navbar-wagon {
    .navbar-brand img, .navbar-brand svg {
      height: 50px;
    }
    .navbar-brand, .navbar-brand:hover
     {
      display: block;
     //  color: $navbar-color;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
.img {
margin-left: 28px;
margin-top: -6px
}

.logo {
  margin-left: 24px;
}
