/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 3em;
  padding-bottom: 8em;
}
.padding-left {
  padding-left: 30px;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.bg-black {
  background: black;
  color: white;
}
.mini-height {
  height: 470px;
}

.max-height {
  height: 800px;
}

.or {
  display: block;
  text-align: center;
  position: relative;
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
  margin-top: 21px;
  color: white;

  &:after, &:before {
    content: "";
    position: absolute;
    display: block;
    width: 40%;
    top: 20px;
    border-bottom: solid 2px;
  }

  &:after {
    right: 0
  }
}
#nav {
  margin-left: 22px;
}
