
<h1> Votre message a bien été envoyé.</h1>
<p>Voici le contenu de votre message :</p>
<h2>OBJET DU MESSAGE : <%= @contact.object %></h2>
<p> <%= @contact.content %></p>
<p>L'équipe WeTennis reviendra vers vous dans les plus brefs délais</p><br>


