<div class="banner">
  <div class="container text-center padded">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default not-accepted">
        <div class="panel-heading">
          <h3> Merci pour votre inscription</h3>
          <div class="panel-body">
            <h4>Votre inscription pour <strong><%= @subscription.tournament.name %></strong> est actuellement en attente de confirmation, vous recevrez une confirmation du juge arbitre dans les plus brefs délais.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
