<h1>WeTennis : Nouvelle demande d'inscription </h1>

<p>
 Bonjour <%=@subscription.tournament.user.first_name.capitalize%>, <br>
 <%= @subscription.user.full_name.capitalize %> a demandé a s'inscrire au tournoi <strong><%=@subscription.tournament.name%> dans la catégorie <%=@subscription.competition.category%></strong>.
 <p>Connectez vous sur www.wetennis.fr pour donner une réponse à cette demande d'inscription.</p>

