<h1>WeTennis : Nouvelle demande d'inscription </h1>

<p>
 Bonjour <%=@subscriptions.first.tournament.user.first_name.capitalize%>, <br>
 <%= @subscriptions.first.user.full_name.capitalize %> a demandé a s'inscrire au tournoi <strong><%=@subscriptions.first.tournament.name%> </strong>dans la/les catégories :
  <ul>
    <% @subscriptions.each do |subscription|%>
    <li><%= subscription.competition.category %></li>
    <% end %>
  </ul>
 <p>Connectez vous sur <a href="www.wetennis.fr">WeTennis</a> pour donner une réponse à cette demande d'inscription.</p>

