<h1>WeTennis : Nouvelle demande d'inscription </h1>

<p> Nouvelle inscription : <%= @subscription.user.full_name.capitalize %> </p>
<p>Tournoi : <%=@subscription.tournament.name%> </p>
<p>Catégorie : <%=@subscription.competition.category%></p>
<p>Prix :<%=@subscription.fare_type%> </p>

