<h1>Tennis Match : demande d'inscription refusée</h1>

<p>
 Bonjour <%=@subscription.user.name%>, <br>
 Votre demande d'inscription au tournoi <strong><%=@subscription.tournament.name%></strong> du <%=@subscription.tournament.starts_on.strftime("%d/%m/%Y") %> au <%=@subscription.tournament.ends_on.strftime("%d/%m/%Y") %> a été refusée par le juge arbitre en raison d'un manque de place disponibles. <br>
  N'hésitez pas à vous inscrire à d'autres tournois sur TennisMatch ! <br>
</p>

<p> @ bientôt sur les courts !</p>
<p>L'équipe TennisMatch</p>