.btn {
  border: none;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba($black, 0.2);
}

.btn-subscribe {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  display: block;
  padding: 11px;
  width: 300px;
  margin: auto;


  &-facebook {
    background-color: #3b5998;
    color: #f2f2f2;
    padding: 13px;
    text-align: center;
  }

  &-facebook1 {
    background-color: #3b5998;
    color: #f2f2f2;
    padding: 13px;
    text-align: center;
    margin-top: 20px;
  }
}
.forgot_password {
  float: right;
  position: absolute;
  top: 305px;
  padding: 4px;
  color: #bababa;
  font-size: 12px;
  right: 15px;
  padding-right: 0px;
}

#bouton-inscription {
  margin-top: 30px;
  padding: 10px;
  width: 200px;
  font-size: 2em;
}
