::-webkit-input-placeholder {
   color: rgb(200, 200, 200);
}
:-moz-placeholder {
  color: rgb(200, 200, 200);
}
::-moz-placeholder {
  color: rgb(200, 200, 200);
}
:-ms-input-placeholder {
  color: rgb(200, 200, 200);
}
