hr {
  border-width: 3px;
  max-width: 50px;

  &.light {
      border-color: white;
  }
}


::selection {
  text-shadow: none;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.separator-text {
  display: block;
  text-align: center;
  position: relative;
  font-size: 16px;
  padding: 10px 0;
  margin: 20px 0;
  color: white;

  &:after, &:before {
    content: "";
    position: absolute;
    display: block;
    width: 40%;
    top: 20px;
    border-bottom: solid 2px;
  }

  &:after {
    right: 0
  }
}

.emperor {
  margin-bottom: 22px;
  border-bottom: 1px dashed rgba($gray-light, 0.2);
  padding-bottom: 11px;
}

