<html>
  <body>
    <div style="text-align:center"><%= image_tag "logo_black.png"%></div>
    <div style="text-align:center">
      <%= yield %>
      <p> @ bientôt sur les courts !</p>
      <p>L'équipe WeTennis</p>
    </div>
  </body>
</html>
