<html>
  <body>
    <div style="text-align:center"><%= image_tag "logo_black.png"%>
      <%= yield %>
      <p> @ bientôt sur les courts !</p>
      <p>L'équipe WeTennis</p>
      <p>www.wetennis.fr</p>
    </div>
  </body>
</html>
